.movies {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.movies__grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  width: auto;
  margin: 0 auto;
}
.movies__item {
  background-color: crimson;
  height: 330px;
  width: 250px;
  margin: 50px 15px;
  border: darkblue 3px solid;
  border-style: inset;
  border-radius: 10px;
  transition-duration: 0.4s;
  position: relative;
}
.movies__item:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0);
}

.movies__img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
}
.movies__text {
  position: absolute;
  margin: 1% 0 0 0;
  font-size: 1.6rem;
  color: yellow;
  font-weight: 800;
}

.movies__movie-container {
  display: flex;
  flex-flow: column wrap;
}
