.details-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: coral;
}
.movie-detail {
  background-color: blueviolet;
  height: 90%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  &__h1-title {
    width: 100%;
    height: 20%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.item-box {
  width: 100%;
  height: 100%;
  background-color: chartreuse;
  display: flex;
  flex-flow: row wrap;
  &__item-description {
    width: 65%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  &__item-picture-box {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.item-picture-box__img {
  width: auto;
  height: 400px;
  padding: 30px;
}
