.header {
  background-color: yellowgreen;
  width: 100%;
  height: 80px;
  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__logo-box {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo-img {
    height: 3.9rem;
  }
  &__navegator {
    width: auto;
  }
  &__nav-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: auto;
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
  }
  &__nav-link {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
  }
  &__nav-link:hover {
    border: black solid 2px;
    border-radius: 8px;
    border-style: solid;
  }
  &__button-log {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
    background-color: #4caf50; /* Green */
    border: none;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  &__button-log:hover {
    background-color: #008cba;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
