.header {
  width: 100%;
  height: 12vh;
  position: fixed;
  z-index: 15;
  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__left-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
  &__logo-box {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo-img {
    height: 5rem;
  }
  &__navegator {
    width: auto;
  }
  &__nav-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: 250px;
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
  }
  &__nav-link {
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
    transition-duration: 0.4s;
    border-radius: 25px;
  }
  &__button-log {
    background-color: white;
    color: midnightblue;
    border: 2px solid midnightblue;
    background-color: #fadc59; /* Green */
    border: none;
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  &__button-log:hover {
    background-color: rgb(12, 12, 56);
    color: #fadc59;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
