* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-style: none;
}
a,
a:-webkit-any-link {
  color: midnightblue;
  cursor: pointer;
}
.movies {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 239, 247, 0.842);
}
.movies__grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  width: auto;
  max-width: 1120px;
  margin: 0 auto;
}
.movies__item {
  height: 430px;
  width: 250px;
  padding: 10px;
  margin: 30px 15px;
  border-style: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  z-index: 49;
}
.movies__item:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0);
}

.movies__img {
  width: 100%;
  border-radius: 8px;
  height: 350px;
}
.movies__text {
  position: absolute;
  margin: 1% 0 0 0;
  font-size: 1.6rem;
  color: yellow;
  font-weight: 800;
}

.movies__movie-container {
  display: flex;
  flex-flow: column wrap;
}
.movies__h2-title {
  color: midnightblue;
  font-size: 2rem;
}
.moives__description-box {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: flex-start;
}
#movies__title {
  color: midnightblue;
  padding: 10px;
  font-size: 16px;
  font-style: none;
  text-align: left;
  width: 80%;
}
.movies__average {
  background-color: rgb(129, 129, 236);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  border-radius: 25px;
  font-weight: 800;
  margin-top: 10px;
}
